<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}Default Value{% endblock %}
    </title>
    <!-- Load MathJax from CDN -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    

    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js">
</script>
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>


    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&display=swap" rel="stylesheet">

</head>
<body class="bigwrapper">

<div class="Jinja-body">
    {% block content %}{% endblock %}
</div>
    <footer style="background-color: #00e7a6; color: white; padding: 20px; text-align: center;">
        <h3 style="margin-bottom: 20px;">Made by:</h3>
        <div style="display: flex; justify-content: center; align-items: center; gap: 30px; flex-wrap: wrap;">
            <div style="text-align: center;">
                <a href="https://www.linkedin.com/in/to-srijan/" target="_blank" style="color: inherit; text-decoration: none;">
                    <img src="/static/images/image2.png" alt="Contributor 1" 
                         style="border-radius: 50%; width: 80px; height: 80px;">
                    <p>Srijan Shukla (22bcs124)</p>
                </a>
            </div>
            <div style="text-align: center;">
                <a href="https://www.linkedin.com/in/ojasv-sakhi-982985257/" target="_blank" style="color: inherit; text-decoration: none;">
                    <img src="/static/images/image3.png" alt="Contributor 2" 
                         style="border-radius: 50%; width: 80px; height: 80px;">
                    <p>Ojasv Sakhi (22bcs077)</p>
                </a>
            </div>

            <div style="text-align: center;">
                <a href="https://www.linkedin.com/in/prem-prakash-59843928b/" target="_blank" style="color: inherit; text-decoration: none;">
                    <img src="/static/images/image.png" alt="Contributor 2" 
                         style="border-radius: 50%; width: 80px; height: 80px;">
                    <p>Prem Prakash (22bcs090)</p>
                </a>
            </div>

            <div style="text-align: center;">
                <a href="https://www.linkedin.com/in/shiva-rathore-93bb83257/" target="_blank" style="color: inherit; text-decoration: none;">
                    <img src="/static/images/image4.png" alt="Contributor 2" 
                         style="border-radius: 50%; width: 80px; height: 80px;">
                    <p>Shiva Rathore (22bcs116)</p>
                </a>
            </div>
            <!-- Add more contributors as needed -->
        </div>
    </footer>
    

    <script>
        MathJax.typeset();  // Rerender MathJax content when loaded
    </script>
</body>





</html>
