<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptanlysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/miscelleneous.css') }}">
</head>
<body>
    <!-- Back Button -->
<div style="display: flex; justify-content: flex-start; padding: 10px;">
    <a href="javascript:history.back()" class = "back_button">← Back</a>
</div>
    <h1 class="step-name">Comparison</h1>
    <table class="card">
        <thead >
            <tr>
                <th>Attribute</th>
                {% for item in data %}
                <th>{{ item['Algorithm'] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Type</td>
                {% for item in data %}
                <td>{{ item['Type'] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Key Size</td>
                {% for item in data %}
                <td>{{ item['Key Size'] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Ciphertext Size</td>
                {% for item in data %}
                <td>{{ item['Ciphertext Size'] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Performance</td>
                {% for item in data %}
                <td>{{ item['Performance'] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Security Basis</td>
                {% for item in data %}
                <td>{{ item['Security Basis'] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Ciphertext Expansion</td>
                {% for item in data %}
                <td>{{ item['Ciphertext Expansion'] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Bulk Data Suitability</td>
                {% for item in data %}
                <td>{{ item['Bulk Data Suitability'] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Typical Use Case</td>
                {% for item in data %}
                <td>{{ item['Typical Use Case'] }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</body>
</html>
