<!DOCTYPE html>
<html>
<head>
    <title>Algorithm Comparison Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Algorithm Comparison</h1>
    <table>
        <thead>
            <tr>
                <th>Algorithm</th>
                <th>Type</th>
                <th>Key Size</th>
                <th>Ciphertext Size</th>
                <th>Performance</th>
                <th>Security Basis</th>
                <th>Quantum Resistance</th>
                <th>Ciphertext Expansion</th>
                <th>Bulk Data Suitability</th>
                <th>Typical Use Case</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item['Algorithm'] }}</td>
                <td>{{ item['Type'] }}</td>
                <td>{{ item['Key Size'] }}</td>
                <td>{{ item['Ciphertext Size'] }}</td>
                <td>{{ item['Performance'] }}</td>
                <td>{{ item['Security Basis'] }}</td>
                <td>{{ item['Quantum Resistance'] }}</td>
                <td>{{ item['Ciphertext Expansion'] }}</td>
                <td>{{ item['Bulk Data Suitability'] }}</td>
                <td>{{ item['Typical Use Case'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
