body {
    background-color: #90eeee;
    /* padding: 30 px; */
    /* margin: 30px 300px 30px 300px; */
    font-family: 'Chakra Petch', Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
  }

  .Jinja-body{
    margin: 30px 300px 30px 300px;
    padding: 30px;
  }

  footer{
    display: none;
}

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    margin-right: 2px;
    background-color: #ccffcc;
    border-color: #000;
    border-style: solid;
  }

  .scrollable-box {
    width: 95%;
    max-height: 150px; /* Adjust height as needed */
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Add some padding inside the card container */
  .container {
    background-color: #a9e5c4;
    width: 0;
  }

  input {
    width: 95%;
    color: black;
    height: 30px;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
  }

  .matrix-table {
    border-collapse: collapse;
    width: 100%;
  }
  .matrix-table td, .matrix-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  .step-name {
    background-color: #b2f2b2;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    border: 2px;
    border-color: #000;
    border-style: groove;
    /* color: white; */
  }


  .step-name:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-0.5px,-0.5px);
  }
  /* Styling input boxes */
.input, textarea {
    width: 98%;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    background-color: #eaffea;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Add focus effect */
.input:focus, textarea:focus {
    outline: none;
    border-color: #2e8b57;
    box-shadow: 0 0 8px rgba(46, 139, 87, 0.5);
}

/* Button styling */
button.gumroad {
    background-color: #ff6699;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
/* Button hover effect */
button.gumroad:hover {
    background-color: #e55d87;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
  /* CSS */
  /* .button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }

  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }

  .button-3:hover {
    background-color: #2c974b;
  }

  .button-3:focus {
    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
  }

  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
  }

  .button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
  } */

  .gumroad{
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    background-color: rgb(232, 149, 177);
  }

  .gumroad:hover {
      box-shadow: 4px 4px 4px #000;
      transform: translate(-0.5px,-0.5px);
  }
  .gumroad:focus-visible{
      outline-offset: 1px;
  }

  .card:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-0.1px,-0.1px);
  }
  .card:focus-visible{
    outline-offset: 1px;
  }

  /* .bigwrapper {
    background-image: url('https://images.unsplash.com/photo-1617957848811-9c07f14d7ba3?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    width: 65%;
  }*/

  .scrollable-box {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }

  .matrix-table {
    border-collapse: collapse;
    width: 100%;
  }

  .matrix-table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
  }

  .poly-button {
    padding: 4px; /* Optional: Increase padding for better button size */
    font-size: 15px; /* Larger font size for better visibility */
    font-weight: normal; /* Optional: Makes the text appear bolder */
    /* border-radius: 5px; Optional: Adds a slight curve to the button corners */
    line-height: 1.5; /* Adjusts the text's vertical spacing */
  }


  /* The Modal (background overlay) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* On top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  }

  /* Modal Content Box */
  .modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from top and centered */
    padding: 20px;
    border-radius: 10px;
    width: 60%; /* Adjust width as needed */
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* Close Button */
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
  }

  .circular-button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove default border */
    border-radius: 50%; /* Make it circular */
    width: 30px; /* Diameter */
    height: 30px; /* Diameter */
    font-size: 20px; /* Font size for question mark */
    font-weight: normal; /* Bold text */
    text-align: center; /* Center align text */
    line-height: 30px; /* Vertically center the text */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s, transform 0.2s; /* Smooth hover effects */
  }

  /* Hover Effects */
  .circular-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.01); /* Slightly enlarge the button */
  }

  .algorithm-details {
    background-color: #f9f9f9; /* Light gray background */
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* font-family: 'Chakra Petch', sans-serif; */
    font-size: 20px;
    line-height: 1.6;
    border: 1px solid #ddd; /* Subtle border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }

  .algorithm-details p {
    margin: 10px 0;
  }


  textarea#binaryMessage {
    display: block; /* Forces the textarea to start on a new line */
    width: 95%; /* Adjust width to fit the card's design */
    margin: 10px auto; /* Adds some spacing around */
    font-size: 24px; /* Increases the text size inside the box */
    line-height: 1.5; /* Adds better readability */
    padding: 10px; /* Adds padding inside the textarea */
    border-radius: 8px; /* Rounded corners for better aesthetics */
    border: 1px solid #000; /* Border to match other elements */
    background-color: #f9f9f9; /* Light background for readability */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  }

  textarea#binaryMessage:focus {
    outline: none; /* Removes the default outline on focus */
    border: 1px solid #007bff; /* Highlighted border on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Glow effect on focus */
  }

  button.gumroad {
    margin-top: 15px; /* Adds spacing above the button */
  }
